@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
a{text-decoration:none;color:#434343;}
a:hover{text-decoration:underline;color:#ff4000;}

/* sub_box */
.sub_box{width:750px;height:400px;margin:5px auto 5px auto;position:relative;overflow:hidden;border:1px solid #ccc;}
.sub_box img{width:750px;height:400px;}
#bd1lfimg{position:relative;width:750px;height:400px;overflow:hidden;}
#bd1lfimg div{width:10000px;margin-left:746px;}
#bd1lfimg dl{width:750px;height:400px;position:relative;overflow:hidden;float:left;}
#bd1lfimg dt{width:750px;height:400px;position:absolute;left:0px;top:0px;}
#bd1lfimg dd{width:710px;height:80px;background:#000000;filter:alpha(Opacity=70);Opacity:0.7;position:absolute;margin-left: 0px;left:0px;bottom:0px;padding:0 20px;}
#bd1lfimg dd h2{height:25px;padding:8px 0 4px 0;line-height:25px;overflow:hidden;}
#bd1lfimg dd h2 a{font-size:14px;font-weight:bold;color:#ffffff;}
#bd1lfimg dd a{color:#ffffff;text-decoration:none;}
#bd1lfimg dd a:hover{text-decoration:none;color:#cccccc;}
#bd1lfimg dd tt{color:#dddddd;line-height:1.2em;}
#bd1lfimg dd tt a:hover{text-decoration:underline;}

.sub_nav{width:750px;height:25px;bottom:0px;position:absolute;color:#999999;z-index:200;}
.sub_no{height:25px;float:right;}
.sub_no li{display:block;width:25px;height:25px;float:left;overflow:hidden;line-height:25px;vertical-align:middle;text-align:center;background:#000000;filter:alpha(Opacity=70);Opacity:0.7;font-family:Arial;font-size:11px;color:#999999;cursor:pointer;}
.sub_no li.show{background:#ffffff;color:#000000;}
.sub_more{float:right;width:50px;height:25px;background:#000000;filter:alpha(Opacity=70);Opacity:0.7;color:#999999;text-align:center;line-height:25px;}
.sub_more a{color:#999999;}
.sub_more a:hover{color:#cccccc;text-decoration:none;}