.icon-aol-accept{
	background:url('../images/icons/accept.png') no-repeat center center;
}
.icon-aol-accordian{
	background:url('../images/icons/accordian.gif') no-repeat center center;
}
.icon-aol-add-feed{
	background:url('../images/icons/add-feed.gif') no-repeat center center;
}
.icon-aol-add{
	background:url('../images/icons/add.gif') no-repeat center center;
}
.icon-aol-application_go{
	background:url('../images/icons/application_go.png') no-repeat center center;
}
.icon-aol-application_view_list{
	background:url('../images/icons/application_view_list.png') no-repeat center center;
}
.icon-aol-arrow-down{
	background:url('../images/icons/arrow-down.gif') no-repeat center center;
}
.icon-aol-arrow-up{
	background:url('../images/icons/arrow-up.gif') no-repeat center center;
}
.icon-aol-arrow{
	background:url('../images/icons/arrow.png') no-repeat center center;
}
.icon-aol-article{
	background:url('../images/icons/article.gif') no-repeat center center;
}
.icon-aol-bogus{
	background:url('../images/icons/bogus.png') no-repeat center center;
}
.icon-aol-book{
	background:url('../images/icons/book.png') no-repeat center center;
}
.icon-aol-bottom2{
	background:url('../images/icons/bottom2.gif') no-repeat center center;
}
.icon-aol-bullet{
	background:url('../images/icons/bullet.gif') no-repeat center center;
}
.icon-aol-c-sep-l{
	background:url('../images/icons/c-sep-l.gif') no-repeat center center;
}
.icon-aol-c-sep{
	background:url('../images/icons/c-sep.gif') no-repeat center center;
}
.icon-aol-cancel{
	background:url('../images/icons/cancel.gif') no-repeat center center;
}
.icon-aol-check{
	background:url('../images/icons/check.png') no-repeat center center;
}
.icon-aol-checked{
	background:url('../images/icons/checked.gif') no-repeat center center;
}
.icon-aol-cog_edit{
	background:url('../images/icons/cog_edit.png') no-repeat center center;
}
.icon-aol-cog{
	background:url('../images/icons/cog.png') no-repeat center center;
}
.icon-aol-comment{
	background:url('../images/icons/comment.gif') no-repeat center center;
}
.icon-aol-connectG{
	background:url('../images/icons/connect.gif') no-repeat center center;
}
.icon-aol-connectP{
	background:url('../images/icons/connect.png') no-repeat center center;
}
.icon-aol-cross{
	background:url('../images/icons/cross.gif') no-repeat center center;
}
.icon-aol-delete{
	background:url('../images/icons/delete.gif') no-repeat center center;
}
.icon-aol-details{
	background:url('../images/icons/details.gif') no-repeat center center;
}
.icon-aol-disk{
	background:url('../images/icons/disk.png') no-repeat center center;
}
.icon-aol-down2{
	background:url('../images/icons/down2.gif') no-repeat center center;
}
.icon-aol-edit{
	background:url('../images/icons/edit.gif') no-repeat center center;
}
.icon-aol-email_go{
	background:url('../images/icons/email_go.png') no-repeat center center;
}
.icon-aol-feed_add{
	background:url('../images/icons/feed_add.png') no-repeat center center;
}
.icon-aol-feed_delete{
	background:url('../images/icons/feed_delete.png') no-repeat center center;
}
.icon-aol-feed_error{
	background:url('../images/icons/feed_error.png') no-repeat center center;
}
.icon-aol-feed-item{
	background:url('../images/icons/feed-item.gif') no-repeat center center;
}
.icon-aol-find{
	background:url('../images/icons/find.png') no-repeat center center;
}
.icon-aol-folder_go{
	background:url('../images/icons/folder_go.png') no-repeat center center;
}
.icon-aol-folder_wrench{
	background:url('../images/icons/folder_wrench.png') no-repeat center center;
}
.icon-aol-forum{
	background:url('../images/icons/forum.gif') no-repeat center center;
}
.icon-aol-forward{
	background:url('../images/icons/forward.gif') no-repeat center center;
}
.icon-aol-gearsG{
	background:url('../images/icons/gears.gif') no-repeat center center;
}
.icon-aol-gearsP{
	background:url('../images/icons/gears.png') no-repeat center center;
}
.icon-aol-go-to-post{
	background:url('../images/icons/go-to-post.gif') no-repeat center center;
}
.icon-aol-greater_then{
	background:url('../images/icons/greater_then.png') no-repeat center center;
}
.icon-aol-grid{
	background:url('../images/icons/grid.png') no-repeat center center;
}
.icon-aol-hd-check{
	background:url('../images/icons/hd-check.gif') no-repeat center center;
}
.icon-aol-icon_padlock{
	background:url('../images/icons/icon_padlock.png') no-repeat center center;
}
.icon-aol-active{
	background:url('../images/icons/icon-active.gif') no-repeat center center;
}
.icon-aol-all{
	background:url('../images/icons/icon-all.gif') no-repeat center center;
}
.icon-aol-by-category{
	background:url('../images/icons/icon-by-category.gif') no-repeat center center;
}
.icon-aol-by-date{
	background:url('../images/icons/icon-by-date.gif') no-repeat center center;
}
.icon-aol-complete{
	background:url('../images/icons/icon-complete.gif') no-repeat center center;
}
.icon-aol-no-group{
	background:url('../images/icons/icon-no-group.gif') no-repeat center center;
}
.icon-aol-icon-show-active{
	background:url('../images/icons/icon-show-active.gif') no-repeat center center;
}
.icon-aol-cog-show-all{
	background:url('../images/icons/icon-show-all.gif') no-repeat center center;
}
.icon-aol-show-complete{
	background:url('../images/icons/icon-show-complete.gif') no-repeat center center;
}
.icon-aol-image-add{
	background:url('../images/icons/image_add.png') no-repeat center center;
}
.icon-aol-left2{
	background:url('../images/icons/left2.gif') no-repeat center center;
}
.icon-aol-less_then{
	background:url('../images/icons/less_then.png') no-repeat center center;
}
.icon-aol-list-items.{
	background:url('../images/icons/list-items.gif') no-repeat center center;
}
.icon-aol-logoutG{
	background:url('../images/icons/logout.gif') no-repeat center center;
}
.icon-aol-logoutP{
	background:url('../images/icons/logout.png') no-repeat center center;
}
.icon-aol-memberG{
	background:url('../images/icons/member.gif') no-repeat center center;
}
.icon-aol-memberP{
	background:url('../images/icons/member.png') no-repeat center center;
}
.icon-aol-menu-show{
	background:url('../images/icons/menu-show.gif') no-repeat center center;
}
.icon-aol-message_edit{
	background:url('../images/icons/message_edit.png') no-repeat center center;
}
.icon-aol-message{
	background:url('../images/icons/message.png') no-repeat center center;
}
.icon-aol-messages{
	background:url('../images/icons/messages.png') no-repeat center center;
}
.icon-aol-new_window{
	background:url('../images/icons/new_window.gif') no-repeat center center;
}
.icon-aol-page_attach{
	background:url('../images/icons/page_attach.png') no-repeat center center;
}
.icon-aol-pdf{
	background:url('../images/icons/pdf.gif') no-repeat center center;
}
.icon-aol-plugin_add{
	background:url('../images/icons/plugin_add.gif') no-repeat center center;
}
.icon-aol-plugin{
	background:url('../images/icons/plugin.gif') no-repeat center center;
}
.icon-aol-post{
	background:url('../images/icons/post.gif') no-repeat center center;
}
.icon-aol-preview-bottom{
	background:url('../images/icons/preview-bottom.gif') no-repeat center center;
}
.icon-aol-preview-hide{
	background:url('../images/icons/preview-hide.gif') no-repeat center center;
}
.icon-aol-preview-right{
	background:url('../images/icons/preview-right.gif') no-repeat center center;
}
.icon-aol-preview{
	background:url('../images/icons/preview.png') no-repeat center center;
}
.icon-aol-pri{
	background:url('../images/icons/pri.png') no-repeat center center;
}
.icon-aol-printer{
	background:url('../images/icons/printer.png') no-repeat center center;
}
.icon-aol-refresh{
	background:url('../images/icons/refresh.gif') no-repeat center center;
}
.icon-aol-right2{
	background:url('../images/icons/right2.gif') no-repeat center center;
}
.icon-aol-rss_add{
	background:url('../images/icons/rss_add.gif') no-repeat center center;
}
.icon-aol-rss_delete{
	background:url('../images/icons/rss_delete.gif') no-repeat center center;
}
.icon-aol-cog{
	background:url('../images/icons/rss_go.png') no-repeat center center;
}
.icon-aol-rss_load{
	background:url('../images/icons/rss_load.gif') no-repeat center center;
}
.icon-aol-rss{
	background:url('../images/icons/rss.gif') no-repeat center center;
}
.icon-aol-save{
	background:url('../images/icons/save.gif') no-repeat center center;
}
.icon-aol-saved{
	background:url('../images/icons/saved.png') no-repeat center center;
}
.icon-aol-saving{
	background:url('../images/icons/saving.gif') no-repeat center center;
}
.icon-aol-signin{
	background:url('../images/icons/signin.gif') no-repeat center center;
}
.icon-aol-signout{
	background:url('../images/icons/signout.gif') no-repeat center center;
}
.icon-aol-spellcheck{
	background:url('../images/icons/spellcheck.png') no-repeat center center;
}
.icon-aol-tab-close-on{
	background:url('../images/icons/tab-close-on.gif') no-repeat center center;
}
.icon-aol-tab-close{
	background:url('../images/icons/tab-close.gif') no-repeat center center;
}
.icon-aol-tabs{
	background:url('../images/icons/tabs.gif') no-repeat center center;
}
.icon-aol-top2{
	background:url('../images/icons/top2.gif') no-repeat center center;
}
.icon-aol-topic{
	background:url('../images/icons/topic.gif') no-repeat center center;
}
.icon-aol-up2{
	background:url('../images/icons/up2.gif') no-repeat center center;
}
.icon-aol-user_addG{
	background:url('../images/icons/user_add.gif') no-repeat center center;
}
.icon-aol-user_addP{
	background:url('../images/icons/user_add.png') no-repeat center center;
}
.icon-aol-usercomment{
	background:url('../images/icons/user_comment.png') no-repeat center center;
}
.icon-aol-user-deleteG{
	background:url('../images/icons/user_delete.gif') no-repeat center center;
}
.icon-aol-user_deleteP{
	background:url('../images/icons/user_delete.png') no-repeat center center;
}
.icon-aol-user_edit{
	background:url('../images/icons/user_edit.png') no-repeat center center;
}
.icon-aol-user_femaleG{
	background:url('../images/icons/user_female.gif') no-repeat center center;
}
.icon-aol-user_femaleP{
	background:url('../images/icons/user_female.png') no-repeat center center;
}
.icon-aol-user_gray{
	background:url('../images/icons/user_gray.gif') no-repeat center center;
}
.icon-aol-user_greenG{
	background:url('../images/icons/user_green.gif') no-repeat center center;
}
.icon-aol-user-greenP{
	background:url('../images/icons/user_green.png') no-repeat center center;
}
.icon-aol-user_orange{
	background:url('../images/icons/user_orange.png') no-repeat center center;
}
.icon-aol-user-red{
	background:url('../images/icons/user_red.png) no-repeat center center;
}
.icon-aol-user-suitG{
	background:url('../images/icons/user_suit.gif) no-repeat center center;
}
.icon-aol-user-suitP{
	background:url('../images/icons/user_suit.png) no-repeat center center;
}
.icon-aol-userG{
	background:url('../images/icons/user.gif) no-repeat center center;
}
.icon-aol-userP{
	background:url('../images/icons/user.png) no-repeat center center;
}
.icon-aol-wait{
	background:url('../images/icons/wait.gif) no-repeat center center;
}
.icon-aol-warning{
	background:url('../images/icons/warning.gif) no-repeat center center;
}

